extends layout-login.pug

block content
  div.row
    div.box.big
      div.boxtitle
        h2 JOBCARD:
      br
      h2.workerinfo= jobNo
    div.col-md-6.left
      br
      div.box
        div.boxtitle
          h2 Family Members:
        br
        h2.workerinfo= name0
        h2.workerinfo= name1
        h2.workerinfo= name2
      br
      div.box
        div.boxtitle
          h2 Contact Numbers:
        br
        h2.workerinfo= num0
        h2.workerinfo= num1
        h2.workerinfo= num2
      br
    div.col-md-6.right
      div.box
        div.boxtitle
          h2 Adhaar Card Numbers:
        br
        h2.workerinfo= adhar0
        h2.workerinfo= adhar1
        h2.workerinfo= adhar2
      br
      div.box
        div.boxtitle
          h2 Gram Panchayat:
        br
        h2.workerinfo= gp
