extends layout-login.pug

block content
  div.row


    div.col-md-6.left
      div.box
        div.boxtitle
          h2 JOBCARD Number:
        br
        h2.workerinfo= jobNo
      br
      div.box
        div.boxtitle
          h2 Family Members:
        br
        h2.workerinfo= name0
        h2.workerinfo= name1
        h2.workerinfo= name2
      br
      div.box
        div.boxtitle
          h2 Contact Numbers:
        br
        h2.workerinfo= num0
        h2.workerinfo= num1
        h2.workerinfo= num2
      br


    div.col-md-6.right
      div.box
        div.boxtitle
          h2 Family Photo:
        br
        img(src= 'https://docs.google.com/uc?id=0By5xPUOmt3GpRXdVQkVOMFhvbGs', height='50px', width='auto', margin='0px', padding='0px')
        img(src= 'https://docs.google.com/uc?id=0By5xPUOmt3GpRXdVQkVOMFhvbGs', height='50px', width='auto', margin='0px', padding='0px')
        img(src= 'https://docs.google.com/uc?id=0By5xPUOmt3GpRXdVQkVOMFhvbGs', height='50px', width='auto', margin='0px', padding='0px')
      br
      div.box
        div.boxtitle
          h2 ADHAAR CARD Numbers:
        br
        h2.workerinfo= adhar0
        h2.workerinfo= adhar1
        h2.workerinfo= adhar2
      br
      div.box
        div.boxtitle
          h2 Gram Panchayat:
        br
        h2.workerinfo= gp
